# Binaries
prv-service/prv-service
chaincode/chaincode
*.exe

# Generated gRPC
prv-service/*.pb.go
prv-service/*_grpc.pb.go

# Vendor
chaincode/vendor/

# Packages
*.tar.gz

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Temp
*.log
prv-config.env
permit.json
